<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Kind</key>
			<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Identifier</key>
			<string>com.localhost.RandomDSdevel.Development.DefaultTemplateforProjectsInvolvingPPP2E</string>
		<key>Ancestors</key>
			<array>
				<string>com.apple.dt.unit.commandLineTool</string>
               </array>
		<key>Concrete</key>
			<true />
		<key>Description</key>
		<string>This template aids users in creating a tool as instructed by one of the examples or exercises in Bjarne Stroustrup's 'Programming:  Principles and Practice Using C++,' Second Edition.  </string>
		<key>Targets</key>
			<array>
				<dict>
					<key>ProductType</key>
						<string>com.apple.product-type.tool</string>
					<key>TargetIdentifier</key>
						<string>com.apple.dt.commandLineToolTarget</string>
					<key>BuildPhases</key>
						<array>
							<dict>
								<key>Class</key>
									<string>Sources</string>
							</dict>
						</array>
				</dict>
			</array>
		<key>Options</key>
			<array>
				<dict>
					<key>Identifier</key>
						<string>commandLineType</string>
					<key>Name</key>
						<string>Language:</string>
					<key>Description</key>
						<string>The primary implementation language for the command-line tool</string>
					<key>Default</key>
						<string>C++</string>
					<key>Type</key>
						<string>popup</string>
					<key>Values</key>
						<array>
							<string>Swift</string>
							<string>Objective-C</string>
							<string>C++</string>
							<string>C</string>
						</array>
					<key>Units</key>
						<dict>
							<key>C++</key>
								<dict>
								</dict>
						</dict>
				</dict>
			</array>
		<key>Definitions</key>
			<dict>
			</dict>
	</dict>
</plist>
